* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    font-weight: 600px;
}

nav {
    background-color: rgb(42, 38, 38);
    color: whitesmoke;
    display: grid;
    grid-template-columns: 30% 60%;
    column-gap: 5%;
    padding: 0% 5%;

}

nav .array-inputs {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 55% 50%;
    padding: 6% 0%;
    place-content: center;
    font-size: 16px;
}
nav input[type="range" ]{
   accent-color: rgb(52, 52, 248);
}

nav .array-inputs #a_size {
    padding: 6% 0%;
}

nav .array-inputs #a_speed {
    padding: 6% 0%;
}

nav .array-inputs #a_generate {
    border-radius: 7px;
    border: none;
    font-size: 16px;
    padding: 4% 0%;
}

nav .array-inputs #a_generate:hover {
    background-color: rgb(103, 245, 229);
    cursor: pointer;
}

nav .header-right {
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

nav .header-right .nav-heading {
    display: inline-block;
    padding: 2% 0%;
}

nav .header-right .nav-heading h2 {
    text-align: center;
}

nav .header-right .algos {
    display: -ms-grid;
    display: grid;
    place-content: center;
    padding: 2% 0%;
    -ms-grid-columns: (16.66667%);
    grid-template-columns: repeat(6, 16.7%);
}

nav .header-right .algos button {
    padding: 3% 0%;
    font-size: 16px;
    margin: 2%;
    background-color: transparent;
    color: white;
    border: none;
}

nav .header-right .algos button:hover {
    background-color: whitesmoke;
    cursor: pointer;
    color: black;
}

nav .header_right .algos .butt_locked {
    background-color: transparent;
    cursor: pointer;
}

nav .header_right .algos .butt_locked:hover {
    background-color: transparent;
    cursor: pointer;
}

nav .header_right .algos .butt_selected {
    background-color: white;
    color: green;
}

nav .header_right .algos .butt_selected:hover {
    background-color: white;
    cursor: pointer;
}

nav .header_right .algos .butt_unselected:hover {
    background-color: blue;
    cursor: pointer;
}

section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 50%;
    grid-template-columns: 20% 50%;
    width: 100%;
}

#info-content {
    padding: 10px 20px;

}

#info-content h3 {
    text-decoration: underline;
    margin-top: 20px;
}

section .complexity-container .pair-definition {
    margin-top: 7%;
}

section .complexity-container .pair-definition p {
    display: inline;
}

section .complexity-container .pair-definition p.sub-heading {
    font-size: 17px;
    text-transform: none;
}

section #array_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 120%;
    height: 80vh;
}

.hide {
    display: none;
}