$no_algos: 6;

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    font-weight: 600px;
}
nav{
    background-color: rgb(42, 38, 38);
    color: whitesmoke;
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 8%;
    padding: 0% 5%;

    .array-inputs{
        display: grid;
        grid-template-columns: 70% 50%;
        padding: 6% 0%;
        place-content: center;
        font-size: 16px;

        #a_size{
            padding: 6% 0%;
        }
        #a_speed{
            padding: 6% 0%;
        }
        #a_generate{
            background-color: transparent;
            border-radius: 7px;
            border: none;
            font-size: 16px;
            padding: 4% 0%;

            &:hover{
                background-color: rgb(254, 87, 26);
                cursor: pointer;
            }
        }
    }

    .header-right{
        display: flex;
        flex-direction: column;

        .nav-heading{
            display: inline-block;
            padding: 2% 0%;
        }
        .algos{
            display: grid;
            place-content: center;
            padding: 2% 0%;
            grid-template-columns: repeat($no_algos,(100%/$no_algos));

            button{
                padding: 3% 0%;
                font-size: 16px;
                margin: 2%;
                background-color: transparent;
                color: white;
                border: none;

                &:hover{
                    background-color: whitesmoke;
                    cursor: pointer;
                    color: black;
                }
            } 
            .butt_locked{
                background-color: transparent;
                cursor: pointer;
                &:hover{
                    background-color: transparent;
                    cursor: pointer;
                }
            }
            .butt_selected{
                background-color: white;
                color: green;
                &:hover{
                    background-color: white;
                    cursor: pointer;
                }
            }
            .butt_unselected{
                &:hover{
                    background-color: blue;
                    cursor: pointer;
                }
            }
        }
    }
}
section{
    display: grid;
    grid-template-columns: 20% 50%;

    .complexity-container{
        margin-top: 7%;

        .pair-definition{
            margin-top: 7%;

            p{
                display: inline;
            }
            p.sub-heading{
                font-size: 17px;
                text-transform: none;
            }
        }
    }

    #info-content{
        padding: 10px 20px;
        
        h3{
            text-decoration: underline;
            margin-top: 20px;
        }
    }
    #array_container
    {
        display: flex;
        width: 100%;
        height: 70vh;
    }
}
.hide{
    display: none;
}